/*Codes By Mahdi Tasha*/
/*Importing Our Font*/
@import "../font/IRANYekan.css";

/*Variables*/
:root {
    --my-dark-blue: #063468;
    --my-gradient: linear-gradient(270deg, #0E70D4 4.24%, #28CFE4 100%);
}

/*Default Styles*/
a {text-decoration: none !important;}
img {pointer-events: none;}
button {cursor: pointer;transition: .3s}
ul,ol,li {margin: 0;padding: 0;list-style: none;}

body {
    font-size: 12px;
    font-family: IRANYekan, sans-serif !important;
    background-color: #F5F7F7;
}

/*Styles*/
.text-my-dark-blue {color: var(--my-dark-blue);}
.bg-my-gradient {background: var(--my-gradient);}