/*Codes By Mahdi Tasha*/
/*Importing Our Font*/
@import "../font/IRANYekan.css";

/*Variables*/
:root {
    --my-dark-blue: #063468;
    --my-linear-gradiant: linear-gradient(270deg, #0E70D4 4.24%, #28CFE4 100%);
    --my-grey: #C4C4C4;
    --my-white: #F5F7F7;
    --my-radial-gradiant: radial-gradient(40% 50%, rgba(40, 207, 228, .1), var(--my-white));
}

/*Default Styles*/
* {outline: none}
a {text-decoration: none !important;}
img {pointer-events: none;}
button {cursor: pointer;transition: .3s}
ul,ol,li {margin: 0;padding: 0;list-style: none;}

body {
    font-size: 12px;
    font-family: IRANYekan, sans-serif !important;
}

/*Styles*/
.text-my-dark-blue {color: var(--my-dark-blue);}
.bg-my-linear-gradient {background: var(--my-linear-gradiant);}
.bg-my-radial-gradient {background: var(--my-radial-gradiant);background-repeat: no-repeat;}
.input-holder {padding: 1px;border-radius: 3px;}
.input-holder > input {border-radius: 3px;}
.bg-my-white {background-color: var(--my-white);}

.login-with-company-account-btn {
    background-color: white;
    border: 1px solid var(--my-grey);
    border-radius: 3px;
}

/*Hover, active, ...*/
.login-with-company-account-btn:hover {background-color: var(--my-grey);}